body {
    background-color: #121212;
}

nav {
    background-color: #1DB954;
}

/* icona di spotify */
i {
    font-size: 40px;
    margin-right: 10px;
}

#carouselExampleFade {
    max-width: 1300px;
}

.card-link {
    text-decoration: none;
    color: #1DB954;
}

.card {
    margin: 10px;
    max-width: 500px;
    background-color: #1DB954;
    border: 0;
}

.list-group-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #1DB954;
    border: 0;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #1DB954;
    margin-top: 20px;
    padding: 5px;
}

footer a {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: #121212;
    font-size: 25px;
}